@model IEnumerable<TourData.Tour>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registro de Tours</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartureDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Route)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReturnDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Route)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id_Tour }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id_Tour }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id_Tour })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
